.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  position: relative;
  box-sizing: border-box;
  padding: 40px;
  padding-bottom: 80px;
  /* Espacio extra para el footer */
  background-image: url('../../media/background.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  /* Fija el fondo al hacer scroll */
}

/* Ocultar las barras de desplazamiento nativas */
.container::-webkit-scrollbar {
  display: none;
}

.loadingContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.imgLoading {
  width: 100%;
}