* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../media/maquinasAnimado.gif);
  background-repeat: no-repeat;
  background-size: 150% 100%;
  background-position: center;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  z-index: -1;
}

.sobrefondo {
  width: 80%;
  max-width: 600px;
  margin-bottom: 2rem;
  box-shadow: 0px 10px 15px #000;
  position: relative;
  border: 2px solid transparent;
  animation: neon-border 5s infinite;
  -webkit-animation: neon-border 5s infinite;
}

.sobrefondo::before {
  content: '';
  /* Pseudo-elemento para crear el borde */
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid transparent;
  border-radius: 5px;
  animation: neon-border 5s infinite;
  -webkit-animation: neon-border 5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.startButton {
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  box-shadow: 0px 10px 15px #000;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  transition: transform 0.2s ease-in-out;
}

.startButton:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .startButton {
    font-size: 1rem;
    padding: 8px 16px;
  }
}